.calendar-container {
		font-family: Arial, sans-serif;
        width: 300px;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        margin: 20px;
    }
    .calendar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 10px;
        font-size: 18px;
    }
    .calendar-header button {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 20px;
        width:  20px;
        margin-top: 0px;
        cursor: pointer;
    }
    .calendar-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 1px;
    }
    .calendar-cell {
        padding: 7px;
        text-align: center;
        font-size: 14px;
    }
    .day-header {
        font-weight: bold;
        background-color: #eee;
    }
    .calendar-cell.today {
        background-color: #bd7bff;
        color: white;
        font-weight: bold;
        border-radius: 50%; /* Bentuk lingkaran */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 16px; /* Ukuran lingkaran */
        height: 16px; /* Ukuran lingkaran */
    }
