body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

p.description {
    color: #666;
    margin-bottom: 30px;
}

.photo-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.photo-gallery img {
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.protected-img {
    user-select: none; /* Prevent text selection */
    -webkit-user-drag: none; /* Prevent drag */
}

/* Overlay to prevent right-click */
.protected-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    z-index: 2; /* Layer above image */
    pointer-events: none; /* Allow pointer events */
}

#logoutButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#logoutButton:hover {
    background-color: #555;
}
